<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> CYLS </title> -->
</head>

<body>
    <section class=" text-gray-600 body-font">
        <div class="container px-5 py-10 mx-auto">

            <!-- <div class="flex flex-col text-center w-full mb-20">

                <h1 class="sm:text-3xl text-4xl font-medium title-font mb-4 text-gray-900">
                    Cycarts Converter Tools
                </h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed italic text-base sm:text-xl">
                    Convert your Video , Docs ,Image

                </p>
            </div> -->

            <div class="flex flex-col text-center w-full mb-20">
                <h2 class="text-xs text-indigo-700 tracking-widest font-medium title-font mb-1">
                    CYCONVERTS</h2>
                <h1 class="sm:text-3xl text-4xl font-bold  title-font mb-4 text-blue-900">
                    CyCarts - Converter
                </h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base italic">
                    Convert Your Documents, Videos & Images
                    Reduce Your Image's Size, Reduce Image's Width & Height
                </p>
            </div>


            <div class="flex flex-wrap -m-4">
                <div class="lg:w-2/2 sm:w-1/2 p-4">
                    <div class="flex relative  rounded-md">
                        <a href="/convert-videos" class="w-full">



                            <div
                                class="text-center  px-8 py-10 relative z-10 w-full  rounded-md cursor-pointer text-white transition ease-in-out delay-150 bg-blue-600 hover:-translate-y-1 hover:scale-110 hover:bg-white hover:text-gray-900 hover:border-gray-700 border-transparent border-2  duration-300  ">

                                <h1 class="title-font text-lg font-medium  mb-3 hover:font-bold italic">Convert Video
                                    <p class="leading-relaxed hover:font-bold"> Just Put Your Video & Get Converted
                                        Videos
                                        In Any Format
                                    </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="lg:w-2/2 sm:w-1/2 p-4">
                    <div class="flex relative  rounded-md">
                        <a href="/convert-docs" class="w-full">
                            <div
                                class="text-center   px-8 py-10 relative z-10 w-full  rounded-md cursor-pointer text-white transition ease-in-out delay-150 bg-blue-800 hover:-translate-y-1 hover:scale-110 hover:bg-white hover:text-gray-900 hover:border-gray-700 border-transparent border-2 duration-300 ">

                                <h1 class="title-font text-lg font-medium  mb-3 hover:font-bold italic">Docx, Doc to PDF

                                </h1>
                                <p class="leading-relaxed hover:font-bold"> Just Put Your Your Documents & Get the
                                    PDF Documents
                                </p>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="lg:w-2/2 sm:w-1/2 p-4">
                    <div class="flex relative  rounded-md">
                        <a href="/convert-images" class="w-full">
                            <div
                                class="text-center   px-8 py-10 relative z-10 w-full  rounded-md cursor-pointer text-white transition ease-in-out delay-150 bg-blue-800 hover:-translate-y-1 hover:scale-110 hover:bg-white hover:text-gray-900 hover:border-gray-700 border-transparent border-2 duration-300  ">

                                <h1 class="title-font text-lg font-medium  mb-3 hover:font-bold italic">Convert Your
                                    Images

                                </h1>
                                <p class="leading-relaxed hover:font-bold"> Just Put Your Image & Get The Converted
                                    Image Into Any Format
                                </p>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="lg:w-2/2 sm:w-1/2 p-4">
                    <div class="flex relative  rounded-md">
                        <a href="/reduce-images" class="w-full">
                            <div
                                class="text-center   px-8 py-10  w-full  rounded-md cursor-pointer text-white transition ease-in-out delay-150 bg-blue-600 hover:-translate-y-1 hover:scale-110 hover:bg-white hover:text-gray-900 hover:border-gray-700 border-transparent border-2 duration-300 ">

                                <h1 class="title-font text-lg font-medium  mb-3  italic">Image Reducers

                                </h1>
                                <p class="leading-relaxed "> Just Put Your Image & Get The Reduced Image, eg width &
                                    height
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="lg:w-2/2 sm:w-1/2 p-4">
                    <div class="flex relative  rounded-md">
                        <a href="/compress-images" class="w-full">
                            <div
                                class="text-center   px-8 py-10  w-full  rounded-md cursor-pointer text-white transition ease-in-out delay-150 bg-blue-600 hover:-translate-y-1 hover:scale-110 hover:bg-white hover:text-gray-900 hover:border-gray-700 border-transparent border-2 duration-300 ">

                                <h1 class="title-font text-lg font-medium  mb-3  italic">Image Compressor

                                </h1>
                                <p class="leading-relaxed "> Just Put Your Image & Get The Compressed Images
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- <div class="lg:w-2/2 sm:w-1/2 p-4 ">
                    <div class="flex relative  rounded-md">
                        <a href="/audio" class="w-full">
                            <div
                                class="text-center   px-8 py-10  w-full  rounded-md cursor-pointer text-white transition ease-in-out delay-150 bg-orange-500 hover:-translate-y-1 hover:scale-110 hover:bg-white hover:text-gray-900 hover:border-gray-700 border-transparent border-2 duration-300 ">

                                <h1 class="title-font text-lg font-medium  mb-3  italic">Audio Downloader

                                </h1>
                                <p class="leading-relaxed ">
                                    Download The Audio From The Youtube Videos
                                </p>
                            </div>
                        </a>
                    </div>
                </div> -->

            </div>
        </div>
    </section>
</body>

</html>